.product-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* Fond blanc pour toute la section */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Ombre pour design pro */
    width: 80%;
    margin: 40px auto; /* Centrage sur la page */
}

.product-detail-image {
    max-width: 40%;
    border-radius: 10px;
}

.product-detail-content {
    max-width: 50%;
    padding: 20px;
}

.product-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price {
    color: #2ecc71;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.product-description {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
}

.quantity-selector {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.quantity-selector button {
    background-color: #ddd;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.add-to-cart-button {
    background-color: black;
    color: white;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

.add-to-cart-button:hover {
    background-color: #333;
}
