.product-card {
  border: 1px solid #ddd;
  position: relative;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  width: 250px;
  background: white;
  margin: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: scale(1.03);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.product-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.add-to-cart, .view-more {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.add-to-cart {
  background-color: #000;
  color: #fff;
}

.view-more {
  background-color: #020202;
  color: #fff;
}

.like-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #ddd;
  cursor: pointer;
}

.like-icon.liked {
  color: red;
}

.like-icon:hover {
  transform: scale(1.2);
}
.product-brand {
  font-size: 0.85rem;
  color: #555;
  margin: 4px 0;
}
